@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: grey;
    color: beige;
    font-size: 18px;
    font-family: roboto, "sans-serif";
}

.container {
    display: grid;
    grid-template-areas:
        "b a a"
        "b c c"
        "b c c";
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    gap: 15px;
    background-color: #fffaf0;
    color: #facc15;
}

.nav {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: beige;
    background-color: #002d62;
    flex-shrink: 0;
}

.main {
    grid-area: c;
    background-color: coral;
}

img {
    max-height: 60%;
    max-width: 60%;
    padding-top: 30%;
}

.nav h1 {
    text-align: center;
    padding: 10px;
}

.btn,
.mainbtn {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    color: beige;
    background-color: #002d62;
    border: none;
    color: beige;
}

.card {
    border-left: 5px solid #facc15;
    border-radius: 15px;
    padding: 30px;
    color: beige;
    margin: 15px 0;
    margin-left: 50px;
    height: 270px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 100px;
    gap: 20px;
    padding-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.btn:hover,
.mainbtn:hover {
    background-color: purple;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.dialog-box {
    position: fixed;
    top: 40%;
    left: 70%;
    transform: translate(-55%, -55%);
    border: 1px solid black;
    z-index: 10;
    border-radius: 10px;
    width: 300px;
    max-width: 50%;
    background-color: coral;
    color: beige;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 07px;
}

input[type="submit"] {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    color: beige;
    background-color: #002d62;
    border: none;
    color: beige;
}

input[type="submit"]:hover {
    background-color: purple;
}

input[type="text"],
input[type="number"] {
    border-radius: 10px;
    height: 25px;
}
